// IMPORTS
@import "../scss/variables.scss";
@import "../scss/mixins.scss";

// CUSTOM STYLE

body {
  background-color: #f4f5f6;
}

nav {
  #newsweek_Logo {
    width: 150px;
  }

  .btn {
    width: 80px;
  }
}

#opinion {
  #opinion-cards {
    height: 90%;

    .opinion-card {
      height: 25%;

      img {
        width: 20%;
      }

      .opinion-info {
        width: 80%;
      }
    }
  }
}

#the-debate {
  .debate-container {
    height: 90%;

    #vs-icon {
      width: 100%;
      height: 10%;
    }

    article {
      height: 45%;

      .debate-vs {
        width: 100%;
        height: 50%;

        .debate-vs-img {
          width: 25%;
        }

        .debate-info {
          width: 75%;
        }
      }

      .debate-author {
        width: 100%;
        height: 50%;

        .author-name {
          width: 90%;
        }

        .debate-author-img {
          width: 10%;
        }
      }
    }
  }
}
// BOOTSTRAP SASS IMPORT
@import "../node_modules/bootstrap/scss/bootstrap";
