// IMPORTS
@import '../scss/fonts';
@import '../scss/variables';
@import '../scss/mixins';

// CUSTOM STYLE

body {
  background-color: #f4f5f6;
}

nav {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 1310px;

  #location {
    font: 15px/34px 'Roboto-Heading', Fallback, sans-serif;

    #weather-icon {
      width: 24px;
      height: 24px;
    }

    #white-arrow {
      vertical-align: baseline;
    }
  }

  #date {
    font: 16px/34px 'Helvetica-Neue', Fallback, sans-serif;
  }

  #newsweek_Logo {
    width: 132px;
    height: 20px;
    fill: rgb(255, 255, 255);
  }

  .btn {
    border-radius: 0;
    font: 14px/14px 'Roboto-Heading', Fallback, sans-serif;
    text-transform: uppercase;
    width: 130px;
  }

  #top-sign-in {
    width: 80px;
  }

  #top-subscribe {
    color: #ff0500;

    #red-arrow {
      width: 8px;
      height: 14px;
      fill: #f72210;
      vertical-align: baseline;
    }
  }

  #menu-icon {
    background-image: url("../img/menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
  }

  #collapsibleCategoriesMenu {
    background-color: rgb(255, 255, 255);
    width: 100%;

    a {
      color: rgb(0, 0, 0);
      font: 17px/17px 'Roboto-Heading', Fallback, sans-serif;
    }

    a:hover {
      color: #f72210;
    }

    #search-input {
      background: url(../img/icon-search-glass.svg) no-repeat;
      background-size: contain;
      background-position: right top;
      width: 20px;
      height: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color: #333;
    }

    position: relative;

    #navbar-red-polygon {
      width: 75px;
      height: 15px;
      background-color: #ff0500;
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

#main-section {
  .card-border-light {
    border: rgb(255, 255, 255);
  }
}

.section-header {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px 'Roboto-Heading', Fallback, sans-serif;
  text-transform: uppercase;
}

#featured-stories {
  .card-title {
    font: bold 24px/24px 'Roboto-Heading', Fallback, sans-serif;
  }

  .card-text {
    font: 15px/20px 'Helvetica-Neue', Fallback, sans-serif;
  }
}

#top-story {
  .card-title {
    font: bold 22px/24px 'Roboto-Heading', Fallback, sans-serif;
  }

  .card-text {
    font: 15px/20px 'Helvetica-Neue', Fallback, sans-serif;
  }
}

#heroes-of-the-pandemic,
#culture-and-travel {
  .card-title {
    font: 20px/22px 'Lora', serif;
  }

  .card-text {
    color: rgba(39, 39, 39, 0.5);
    font: 15px/20px 'Helvetica-Neue', sans-serif;
  }
}

#opinion {
  height: 385px;

  #opinion-cards {
    height: 90%;

    .card-body {
      padding: 0 0 0 5px;
    }

    .card-title {
      font: bold 16px/20px 'Roboto-Heading', Fallback, sans-serif;

      a {
        color: black;
      }

      a:hover {
        color: #f72210;
        text-decoration: none;
      }
    }

    .opinion-author {
      font: bold 14px/16px 'Roboto-Heading', Fallback, sans-serif;
      color: #555;
      text-transform: uppercase;
    }

    .card-img {
      width: 63px;
      height: 63px;
      margin: auto auto;
    }
  }
}

#more-stories {
  .more-story {
    .card-title {
      font: 17px/20px 'Roboto-Heading', Fallback, sans-serif;
    }

    .card-text {
      font: 15px/20px 'Helvetica-Neue', Fallback, sans-serif;
    }

    .card-img {
      width: 95px;
      height: 95px;
    }
  }
}

#the-debate {
  .debate-container {
    height: 90%;

    #vs-icon {
      font: normal 17px/20px 'Roboto-Heading', Fallback, sans-serif;
      height: 40px;
      width: 40px;
      color: white;
      background-color: black;
      text-align: center;
      padding: 10px 0;
    }

    article {
      height: 45%;
      border-width: 4px !important;

      .debate-info {
        font: bold 17px/21px 'Roboto-Heading', Fallback, sans-serif;
        width: 75%;
      }

      .debate-author {
        height: 50%;
        width: 100%;

        #author-lines {
          width: 100%;
          height: 5px;
          top: 15px;
          position: relative;
          z-index: 2;
          border-color: #d9d9d9;
        }

        .author-name {
          font: bold 14px/21px 'Roboto-Heading', Fallback, sans-serif;
          width: 90%;
        }

        .debate-author-img {
          width: 63px;
          height: 63px;
          z-index: 3;
        }
      }
    }
  }
}

#latest-news {
  .latest-news-img {
    width: 95px;
    height: 95px;
  }

  h4 {
    font: bold 15px/20px 'Roboto-Heading', Fallback, sans-serif;
    width: 75%;
  }
}

#in-the-magazine {
  h3 {
    font: 20px/20px 'Roboto-Heading', Fallback, sans-serif;
  }
}

#editors-pick {
  .card-title {
    font: 24px/24px 'Roboto-Heading', Fallback, sans-serif;
  }

  .card-text {
    color: #333;
    font: 15px/20px 'Helvetica-Neue', Fallback, sans-serif;
  }
}

#categories {
  .category-header {
    font: bold 16px/16px 'Roboto-Heading', Fallback, sans-serif;
  }

  .main {
    .card-title {
      font: bold 22px/22px 'Roboto-Heading', Fallback, sans-serif;
    }
  }

  .others {
    .card-title {
      font: bold 17px/21px 'Roboto-Heading', Fallback, sans-serif;
    }
  }
}

// BOOTSTRAP SASS IMPORT
@import '../node_modules/bootstrap/scss/bootstrap';

// RESPONSIVE
@import '../scss/responsive';
