// BOOTSTRAP OVERRIDES

// CUSTOMS

@mixin hideScrollBar {
  max-height: 2100px !important;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}
