@include media-breakpoint-down(sm) {
  #nav--top {
    #top-sign-in {
      width: 50px;
    }

    #top-subscribe {
      width: 80px;
    }

    #menu-icon {
      width: 26px;
      height: 30px;
    }
  }

  // #main-container {
  //   #main-section {
  //     #left-col {
  //       #featured-stories {
  //         article {
  //           .article-img-label {
  //             top: 202px;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

@include media-breakpoint-up(md) {
  nav {
    .btn {
      font: 18px/18px 'Roboto-Heading', Fallback, sans-serif;

      #top-subscribe {
        width: 126px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #nav--top {
    #newsweek_Logo {
      width: 395px;
      height: 60px;
    }
  }
}

// @include media-breakpoint-up(xl) {

// }
