@include media-breakpoint-down(sm) {
  #nav--top {
    #top-sign-in {
      width: 50px;
    }

    #top-subscribe {
      width: 80px;
    }

    #menu-icon {
      width: 26px;
      height: 30px;
    }
  }
}

@include media-breakpoint-up(md) {
  nav {
    .btn {
      font: 18px/18px 'Roboto-Heading', Fallback, sans-serif;

      #top-subscribe {
        width: 126px;
      }
    }
  }

  #footer-ads {
    #subscribe-ad {
      #covers {
        width: 50%;
      }

      #subscribe-ad-content {
        width: 50%;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #nav--top {
    #newsweek_Logo {
      width: 395px;
      height: 60px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .more-story {
    .border-bottom {
      border-bottom: none !important;
    }
  }
}
