// BOOTSTRAP  OVERRIDES
$theme-colors: (
  "primary": #ff0500,
  "secondary": white,
  "red-news": #ff0500,
  "blue-news": #f92859
);

$container-max-widths: (
  sm: 575px,
  md: 767px,
  lg: 990px,
  xl: 1310px,
);

$grid-columns:      14;
$grid-gutter-width: 20px;

// CUSTOMS
