// BOOTSTRAP  OVERRIDES
$theme-colors: (
  "primary": #ff0500,
  "secondary": white,
  // ADD CUSTOM COLORS
  "gray-main": $gray-500,
  "gray-body": $gray-600,
  "gray-author": $gray-700,
  "red-news": #ff0500,
  "pink-news": #f92859,
  "blue-news": #1c87fb,
  "whitest": #fff,
  "blackest": #000,
  "almost-white": #f4f5f6,
  "legend": #ffffffe6
);

$container-max-widths: (
  sm: 575px,
  md: 767px,
  lg: 990px,
  xl: 1310px,
);

$grid-columns:      14;
$grid-gutter-width: 20px;

// CUSTOMS
$font-Roboto: 'Roboto-Heading', Fallback, sans-serif;
$font-Helvetica: 'Helvetica-Neue', Fallback, sans-serif;
$font-Lora: 'Lora', Fallback, sans-serif;
