// BOOTSTRAP  OVERRIDES
$theme-colors: (
  "primary": #ff0500,
  "secondary": white,
  "red-news": #ff0500,
  "pink-news": #f92859,
  "blue-news": #1c87fb,
  "legend": rgba(255, 255, 255, 0.9)
);

$container-max-widths: (
  sm: 575px,
  md: 767px,
  lg: 990px,
  xl: 1310px,
);

$grid-columns:      14;
$grid-gutter-width: 20px;

// CUSTOMS
